.collection-item {
  width: 22%;
  display: flex;
  flex-direction: column;
  height: 350px;
  align-items: center;
  position: relative;
  cursor: pointer;

  .image {
    width: 100%;
    height: 95%;
    background-size: cover;
    background-position: center;
    margin-bottom: 5px;
  }

  .custom-button {
    width: 80%;
    opacity: 0.7;
    position: absolute;
    top: 255px;
    display: none;
  }

  &:hover {
    .image {
      opacity: 0.8;
    }

    .custom-button {
      opacity: 0.85;
      display: flex;
    }
  }

  .collection-footer {
    width: 100%;
    height: 5%;
    display: flex;
    justify-content: space-around;
    font-size: 18px;

    .name {
      width: 90%;
      margin-bottom: 15px;
    }

    .price {
      width: 10%;
    }
  }
}
.modalHeader {
  padding: 20px;

  button {
    border: 0;
    background-color: white;
    font-size: 1.5rem;
    right: 0;
  }
}
svg {
  width: 70px;
  height: 70px;
}

.modalDesc {
  display: flex;
  flex-flow: column;
  align-items: center;
  align-content: space-between;

  span{
    margin: 5px;
  }
  button{
    margin: 10px;
  }
}
.modalImage{
  height: 30%;
  width: 50%;
}